body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */

.navbar {
    background-color: #333; /* Dark background color */
    padding: 30px 20px; /* Padding around the nav */
}

.navbar ul {
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
    display: flex; /* Display items in a row */
    justify-content: center; /* Center items horizontally */
}

.navbar li {
    margin: 0 15px; /* Space between menu items */
}

.navbar a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* White text color */
    font-size: 1.2em; /* Font size for menu items */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.navbar a:hover {
    color: #4CAF50; /* Change color on hover */
}


/* Header */

.intro-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: #f4f4f4; /* Light background for the intro section */
    text-align: center; /* Center-align text */
    padding: 60px 20px; /* Add padding */
	height: 100vh;
}

.intro-section h1 {
    color: #333; /* Dark text color for the heading */
    font-size: 2.5em; /* Large font size for emphasis */
    margin-bottom: 20px; /* Space below the heading */
}

.intro-section p {
    color: #666; /* Medium gray text color */
    font-size: 1.2em; /* Slightly larger font size for readability */
    margin-bottom: 30px; /* Space below the paragraph */
}

/* Buttons */

.btn-primary {
    text-decoration: none; /* Remove underline from the link */
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    font-size: 1em; /* Font size for the button text */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.btn-primary:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Calculator */
.calculatorContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.calculator {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 500px;
}

.display {
    background-color: #333;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #ddd;
}

.operator {
    background-color: #f90;
    color: #fff;
}

.operator:hover {
    background-color: #e80;
}